.post {
  :first-child {
    margin-top: 0;
  }

  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  img {
    display: block;
    height: auto;
    margin: 1.5rem 0;
    max-width: 100%;
    object-fit: cover;
  }

  a {
    color: #3b82f6;
    cursor: pointer;
    text-decoration-line: underline;
  }

  h1, 
  h2, 
  h3, 
  h4, 
  h5, 
  h6 {
    line-height: 1.1;
    text-wrap: pretty;
    color: hsl(142.1 76.2% 36.3%);
  }

  h1, 
  h2 {
    font-weight: 700;
  }

  h1 { 
    font-size: 1.4rem; 
  }

  h2 { 
    font-size: 1.2rem; 
  }

  h3 { 
    font-weight: 500;
    font-size: 1.1rem; 
  }

  h4, 
  h5, 
  h6 { 
    font-size: 1rem; 
  }

  ul,
  ol {
    list-style-type: decimal;
    padding: 0 1rem;
    margin: 1.25rem 1rem 1.25rem 0.4rem;
  }

  ul li {
    list-style-type: disc;
  }

  ul li p {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
  }

  /* Youtube embed */
  div[data-youtube-video] {
    cursor: move;
    padding-right: 1.5rem;

    iframe {
      border: 0.5rem solid var(--black-contrast);
      display: block;
      min-height: 200px;
      min-width: 200px;
      outline: 0px solid transparent;
    }

    &.ProseMirror-selectednode iframe {
      outline: 3px solid var(--purple);
      transition: outline 0.15s;
    }
  }
}

